<!-- This is the configuration file for the logback logging system
     for when simply want to log to stdout. 
  -->
    
<!-- Note that scanPeriod is set to 30 seconds so that config file will
     be automatically reloaded if needed and take effect every 30 seconds.
  -->
<configuration scan="true" scanPeriod="30 seconds" >

  <property name="DEFAULT_PATTERN" value="%d{HH:mm:ss.SSS, ${logback.timezone:-America/Los_Angeles}} %-5level [%logger{10}:%line] %msg%n" />

  <!-- In case easiest to write logs to console.  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- Don't need all the config params to be logged -->
  <!--
  <logger name="org.transitime.config"
          level="warn" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  -->

  <!-- Don't need all the hibernate info to be logged -->
  <logger name="org.hibernate"
          level="warn" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <!--  In order to log the hibernate SQL queries need to set org.hibernate.SQL
        to debug. To show the values of the parameters need to set
        org.hibernate.type to trace. Probably also want to set in
        hibernate.cfg.xml the properties format_sql and use_sql_comments
        to true so that the output of the SQL looks nice and includes the
        SQL comments.

        NOTE: Turning on this logging can greaty slow things down.
        When inserting 10000 rows of AVLReports the time increated
        from about 2.5 seconds to 10 seconds when the sql logging
        was enabled. So don't use all the time!
   -->
  <logger name="org.hibernate.SQL" level="debug" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

 <!-- For logging the parameter values for the SQL -->
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder"
          level="trace" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <root level="debug">          
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
