<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Transitime webapp</display-name>

  <context-param>
      <param-name>transitime_config_file_location</param-name>
      <!-- Set to customized properties file with db config info and such -->
      <param-value>C:\\cygwin64\\home\\SeanOg\\workspace\\transitime-historical\\core\\transitimeWebapp\\src\\main\\resources\\transiTimeConfig.xml</param-value>      
      <!-- <param-value>/usr/local/transitime/config/transiTimeConfig.xml</param-value> -->      
      
  </context-param>

  <welcome-file-list>
    <welcome-file>welcome/index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!-- So that configuration parameters can be read in from file -->
  <listener>
    <listener-class>org.transitime.web.ReadConfigListener</listener-class>
  </listener>

</web-app>
