<!-- This is the configuration file for the logback logging system
     for when simply want to log to stdout. 
  -->
    
<!-- Note that scanPeriod is set to 30 seconds so that config file will
     be automatically reloaded if needed and take effect every 30 seconds.
  -->
<configuration scan="true" scanPeriod="30 seconds" >

  <property name="DEFAULT_PATTERN" value="%d{HH:mm:ss.SSS, ${logback.timezone:-America/Los_Angeles}} %-5level [%logger{10}:%line] %msg%n" />

  <!-- In case easiest to write logs to console.  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>${DEFAULT_PATTERN}</pattern>
    </encoder>
  </appender>

  
  <!-- Set default level of root logger to "info" instead of to the
       the default of "debug". This way the default is to only see important
       messages. Debug messages have to be enabled by creating a logger
       for the class. Was originally hoping to log errors to stdout but
       this interfered with other loggers. If another logger level was set
       to debug then for that class the message would also be logged via root
       even though the logging level for route is configured to be info, 
       which is a higher level.
    -->
  <root level="info">          
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
