form.row{
     width: 112%;
 }
form >div {
    margin-bottom: 20px;
    padding-right: 0;
}
form.no-margin >div {
    margin-bottom: 0px;
}


h4{
    font-weight: normal;
    color: #1E3F78;
    font-size: 32px;
}


.list-group {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 0;
}

.list-group-item.list-group-item-action {
    border: 0;
    width: calc(100% - 50px);
    background-color: #1E3F78;
    color: white;
    margin: auto;
    margin-bottom: 25px;
    text-align:center;
}
.btn-outline-primary {
    color: #000;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    margin-right:0;
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active,
.btn-outline-primary:hover {
    color: #fff;
    background-color: #1E3F78;
    border-color: #1E3F78;
}

button.submit-button {
    background-color: #1E3F78;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-color:#1E3F78;
}

.select2-container {
    width: 100%!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.select2-container--default .select2-selection--multiple{
    /*border-color:transparent;*/
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-color: #ced4da;
}

.panel {
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
    justify-content: center;
    overflow: auto;
}


.left-panel {
    width: 380px;
    padding: 38px 20px;
}
.right-panel{
    display: none;
}
.split .right-panel{
    width: calc(100% - 380px);
    min-width: 500px;
    display: block;
    /* border: 1px solid #e5e5e5; */
    box-shadow: -3px 0px 0px #e5e5e5;
}
.form-check {
    padding-left: 2.5em;
    margin-bottom: 20px;
}

.form-check .form-check-input {
    margin-right: 1em;
    margin-top: 0;
    width: 1.5em;
    height: 1.5em;
}

.form-check-input:checked {
    background-color: #1E3F78;
    border-color: #1E3F78;
}

.list-group-item.list-group-item-action.secondary-btn, .secondary-btn {
    color: #000;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    cursor: pointer;
}

.header-theme {
    /* background-color: #1E3F78; */
    background-color: #3E5FA9;
    color: white;
}

.eachDest-header{
    font-size:12px;
    font-weight: bold;
    color: #1E3F78;
    text-decoration:underline;
    cursor:pointer;
    line-height: 14px;
    padding: 0px 2px;
}

.bus-enroute {
    margin: 10px 0px;
    /* border-bottom:2px solid #e5e5e5; */
    color: rgb(129,129,129);
}
.vehicle-time {
    /*color: rgb(129,129,129);*/
    color: #666666;
    padding-left: 5px;
}

.each-destination {
    display: flex;
    flex-direction: column;
    margin: 2px 0px;
    width: 100%;
    /*border-bottom:1px solid #e5e5e5;*/
    padding-bottom: 10px;

}

.vehicle-icon-prediction{
    height: 20px;
    width: 20px;
}
.vehicle-image-detail{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.each-prediction{
    display:flex;
    flex-direction:row;
    align-items:center;
    /*justify-content: space-between;*/
}

.vehicle-id {
    margin: 0px 10px;
    margin-right: 0px;
    font-weight: bold;
}
.vehicle-item{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.vehicle-item b{
    width: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #000000;
}
.vehicle-item .vehicle-value{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    width: calc(100% - 75px);
}

.leaflet-popup-content, .leaflet-popup-tip {
   /* border: 1px solid #1E3F78; */
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    max-width: 648px;
    max-height: 464px;
    min-width: 360px;
    background: transparent;
    box-shadow: none;
}
.vehicle-pop-up .leaflet-popup-content{
    width: 100% !important;
}

.leaflet-popup-content{
    margin: 0 auto;
}
.leaflet-popup-content .card{
    border: none;
}

.leaflet-popup-tip-container{
    margin-top: -1px;
}

.card-header{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
}

.stop-id{
    font-size: 12px;
}
.updated-time-holder{
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
}
.leaflet-popup-content .card .card-body{
    padding: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: #fff;
    background-color: #1E3F78;
    border-color: #1E3F78;
    margin-bottom:5px;
}

.leaflet-popup-content,
.leaflet-popup-tip {
    background: white;
    /*box-shadow: 0 3px 14px rgb(0 0 0 / 86%);*/
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%)
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #86b7fe 1px;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid;
    margin-top: 10px;
    border-color: #e5e5e5e5;
}

.card .list-group-item.list-group-item-action {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 10px;
    line-height: 24px;
    margin-bottom: 15px;
}
.card-header:first-child {
    border-radius: 0;
    padding: .2rem 1rem;
}
/*legend*/


.bg-yellow{
    background-color:#E6D83E;
}

.bg-green{
    background-color:#37E627;
}

.bg-red{
    background-color: #E34B71;
}

.bg-65, #paramDetails{
    background-color: #656565;
}

.bg-secondary-light{
    background-color: #e5e5e5;
}

#paramDetails{
    padding: .8rem;
    margin-bottom: 10px;
    width: calc(100% - 4px);
    border-radius: 4px;
    margin-left: 15px;
}

.map-legend-icons {
    position: fixed;
    top: 85px;
    right: 20px;
    width: 200px;
    background: #e8e8e8ab;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 0px rgb(105 105 105 / 50%);
    -moz-box-shadow: 0px 0px 4px 0px rgba(105,105,105,0.5);
    box-shadow: 0px 0px 4px 0px rgb(105 105 105 / 50%);

}

.legend-label{
    font-size: 0.90em;
    padding-left: 7px;
}

.map-legend-icons  .badge {
    margin-right: 10px;
    /* border: 1px solid #6c757d; */
    width: 20px;
    height: 20px;
}

.map-legend-icons  ul.list-group {
    margin: 0;
}

.map-legend-icons  ul.list-group li, .map-legend-icons .card {
    background-color: transparent
}

.col-form-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.pad-left-0 {
    padding-left: 0;
}

.map-legend-icons li.list-group-item {
    border: none;
    padding:.2em .5rem
}

.map-legend-icons .card .card-body{
    padding: 5px;
    background: transparent;
    text-align: center;
}

.refresh-button{
    max-width: 120px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #1E3F78;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-color: #1E3F78;
}

.dataTables_length label{
    width:100%;
    display:flex;
    align-items:center;
}
.dispatcher-select-drop-down {
    display:inline-block;
    width: 200px;
    margin: 0px 10px;
}

.no-borders{
    box-shadow: none;
}

.box-shadow{
    box-shadow: -3px 0px 0px #e5e5e5;
}

.time-label{
    max-width: 100px;
    margin-right:5px;
    padding-right: 0;
}
.end-label{
    max-width: 80px;
    margin-left: 15px;
}
.time-input-box{
    width: 70px;
    padding: .375rem .25rem;
}
.date-icon-wrapper input {
    width: calc(100% - 50px);
}

.ui-datepicker-trigger{
    background: none;
    border: none;

}

.select2-container .select2-selection--single,
.select2-container .select2-selection--single span,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    line-height: 38px !important;
    height: 38px;
}


.yellow{
    color:#E6D83E;
}

.green{
    color: #37E627;
}
.dark-green{
    color:green;
}
.red{
   color: #E34B71;
}
.white{
    color:white;
}

.blue{
    color: blue;
}

.dark-blue{
    color:#1E3F78;
}

.chart-container{
    position: relative;
    height: 300px;
    width: 60vw;
}

.full-width-image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.select2-container--default .select2-search--dropdown .select2-search__field:hover {
    border: solid #86b7fe 1px;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.select2-search__field{
    outline: 0;
}

.calendar-icon{
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e26161;
}

.reverse {
    transform: scaleX(-1);
}

.image-container .img-thumbnail {
    border: none;
}

.grey-bg{
    background-color: #EFEFEF;
}

.img-path{
    width: 100%;

}

.grey-img {
opacity: 0.45;
}

#playback {
    background: white;
    position: relative;
    left: 0%;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    font-family: monospace;
    width: 300px;
    box-shadow: 0px 2px 10px #696969;
}

.pause-custom{
    width: 42px;
}

/* Playback menu */
#playbackContainer {
    position: fixed;
    left: 50%;
    bottom: 5%;
}

#playbackContainer  .image-container .img-thumbnail:hover {
    border: 1px solid #CCC;
    box-shadow: 1px 1px 5px #999;
    cursor:pointer;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.view-form-btn{
    top: 50%;
    color: #4D4C4C;
    width: 100%;
    text-align: center;
}

#on-time-performance {
    height: 400px;
    width: 400px;
}

label.btn.btn-outline-primary {
    max-width: 50%;
}

.list-group-item.disabled, .list-group-item:disabled {
opacity: 0.3;
}

.leaflet-popup-content {
    margin: 0 auto;
    border-radius: 8px;
    padding: 2px;
    border-color: transparent;
}

.leaflet-popup-content .card-header:first-child {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#updated-time-holder {
    font-size:10px;
    padding-left: 10px;
    margin-left:10px;
}

.comparision-modal-popup .modal-body {
    max-height: 70vh;
    overflow: auto;
}


.comparision-modal-popup .modal-title{
    background-color: #1E3F78;
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    width: 100%;
}

.comparsion-button-list {
    width: 100%;
    z-index: 1;
}

.pad-rt-10{
    padding-right: 10px;
}

.link{
    cursor: pointer;
}

#avgRunTimeTop p,#avgRunTimeTop  a{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

#avgRunTimeTop {
    width: calc(100% - 100px);
}

.paramDetails span {
    font-size: 15px;
}

.absolute-bottom-right{
    top: 150px;
    z-index: 1;
    width: 250px;
}
.absolute-bottom-right i.bi-dash-lg:before{
    font-size : 25px;
}

.comparision{
    padding:0;
    margin:0;
}

.visualization-container {
    margin-top: 80px;
}

.comparision-label-container label{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    color: #1E3F78;
}

.comparision .time-place-holder, .comparision  {
    margin-top: 10px;
}


.no-margin-all{
    margin: 0;
}

.comparision-runTimeVisualization{
    width: 90%;
    margin: auto;
}


.hand-pointer-img{
    height: 30px;
}



#run-time-tabs.ui-widget-content {
    background: none;
    border: 0;
    padding: 0;
}

#run-time-tabs .ui-state-hover,
#run-time-tabs  .ui-widget-content .ui-state-hover,
#run-time-tabs  .ui-widget-header .ui-state-hover
#run-time-tabs .ui-state-active,
#run-time-tabs .ui-widget-content .ui-state-active,
#run-time-tabs  .ui-widget-header .ui-state-active {

    font-weight: normal;
    outline:none;
    /* color: #fff !important; */
}

#run-time-tabs .ui-state-active, #run-time-tabs .ui-widget-content .ui-state-active, #run-time-tabs .ui-widget-header .ui-state-active a {
    color: #fff
}

#run-time-tabs .ui-widget-header {
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* border: none;*/
    border-radius: 0;
}

#run-time-tabs .ui-corner-top {
    border-radius: 0;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #444;
}

#run-time-tabs.ui-tabs .ui-tabs-panel {
    overflow: auto;
    height: 80vh;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    border: 1px solid #e5e5e5;
    margin-bottom: -2px;
    border-bottom: 0;
}

.m-bt-10{
    margin-bottom: 10px;
}

.m-bt-20{
    margin-bottom: 20px;
}

.run-time-vairables > div{
    max-width: 200px;
    width: auto;
    min-width: 200px;
}
.run-time-vairables > div > div{
    padding-left: 5px;
}

.m-bt-0 {
    margin-bottom: 0px;
}
.m-tp-0{
   margin-top: 0;
}

#run-time-tabs .ui-state-hover .ui-tabs-anchor,
#run-time-tabs .ui-widget-content .ui-state-hover .ui-tabs-anchor,
#run-time-tabs .ui-widget-header .ui-state-hover .ui-tabs-anchor,
#run-time-tabs .ui-state-active .ui-tabs-anchor,
#run-time-tabs .ui-widget-content .ui-state-active .ui-tabs-anchor,
#run-time-tabs .ui-widget-header .ui-state-active .ui-tabs-anchor {
    border-top: 4px solid #1E3F78;
    color: #444;
    margin-bottom: -2px;
    border-bottom: 0;
    background: #fff;
}

.ui-tabs .ui-tabs-nav li {
    border: none;
}

.percentileLabel2{
    max-width: 320px;
    display: inline-flex;
}
.percentileLabel {max-width: 120px;display: inline-flex;}
.percentileSelect{max-width: 120px;display: inline-flex;}

#n-th-percentile {
    padding: 0px 4px;
}

.pl-10{
    padding-left: 10px;
}
td.late{
    background-color:#E6D83E;
}
td.early{
    background-color: #E34B71;
}
td.ontime{
    background-color:#37E627;
}

.color-legend-block {
    padding: 10px;
}